*.js
*.map

# you should not push this directory to your repository
node_modules

# npm run build is creating a directory called lib
lib

#this is from Section 9 of the course
maps/.parcel-cache
maps/dist